<h1>Search results in</h1>
<% if (results.length > 0) {%>
  <ul>
    <% for(let i = 0; i < results.length; i++) { %>
      <li>
        <h2>项目名称：<%= results[i].name %></h2>
        <p>
          地址：<a href="<%= results[i].svn_url %>" target="_blank" rel="noopenner noreferer"><%= results[i].svn_url %></a>
        </p>
        <p>
          star数: <%= results[i].stargazers_count %>
        </p>
      </li>
    <% } %>
  </ul>
  <% } else { %>
    <p>No results</p>
<% } %>